body{
  text-align: center;
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.qr-code{
  background-color: white;
  width: 15%;
  margin: 100px auto;
  padding: 4px 4px 20px 4px;
  border: solid;
  border-color: white;
  border-radius: 14px;

}

img{
  height: 210px;
  width: 210px;
  border: solid ;
  border-color: white;
  border-radius: 14px;
}
h3{
  font-weight: 700;
  font-size: 1.15rem;
}

p{
  font-weight: 400;
  color: grey;
  font-size: 0.82rem;
}
